/*************************************************
** Animation
*************************************************/

/**** **** **** **** **** ****
  Slide In Down
**** **** **** **** **** ****/

@keyframes slideInDown {
  0% {
    transform: translateY(-853px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}



/**** **** **** **** **** ****
  Slide In Right
**** **** **** **** **** ****/

@keyframes slideInRight {
  0% {
    transform: translateX(-480px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}


/**** **** **** **** **** ****
  Slide In Left
**** **** **** **** **** ****/

@keyframes slideInLeft {
  0% {
    transform: translateX(480px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}


/**** **** **** **** **** ****
  Fade In Left
**** **** **** **** **** ****/

@keyframes fadeInLeft {
  0% {
    @include transform(translateX(-25px)scale(.9));
    transform-origin: left;
    opacity: .6;
  }
  50% {
    opacity: .8;
  }
  100% {
    @include transform(translateX(0)scale(1));
    opacity: 1;
  }
}


/**** **** **** **** **** ****
  Fade In Center
**** **** **** **** **** ****/

@keyframes fadeInCenter {
  0% {
    @include transform(scale(.9));
    opacity: .6;
  }
  50% {
    opacity: .8;
  }
  100% {
    @include transform(scale(1));
    opacity: 1;
  }
}


/**** **** **** **** **** ****
  Fade In Right
**** **** **** **** **** ****/

@keyframes fadeInRight {
  0% {
    @include transform(translateX(25px)scale(.9));
    transform-origin: right;
    opacity: .6;
  }
  50% {
    opacity: .8;
  }
  100% {
    @include transform(translateX(0)scale(1));
    opacity: 1;
  }
}


/**** **** **** **** **** ****
  Fade In
**** **** **** **** **** ****/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/**** **** **** **** **** ****
  Fade In
**** **** **** **** **** ****/

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/**** **** **** **** **** ****
  Fade InOut
**** **** **** **** **** ****/

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/*************************************************
** Finger Animations
*************************************************/

/**** **** **** **** **** ****
  fingerdown
**** **** **** **** **** ****/

@keyframes fingerdown {
  0%   {opacity: 1}
  30%  {top:11em;opacity: 1;}
  60%  {top:11em;opacity: 1;}
  100% {top:11em;opacity: 0}
}

/**** **** **** **** **** ****
  dotsdown
**** **** **** **** **** ****/

@keyframes dotsdown {
  0%  {opacity: 0;}
  30% {opacity: .4;}
  75% {opacity: 0;top:13.250em;}
  100%  {opacity: 0;top:13.250em;}
}

/**** **** **** **** **** ****
  boxadjust
**** **** **** **** **** ****/

@keyframes boxadjust {
  0%  {transform:scale(1,1)}
  3%  {transform:scale(1,1)}
  20% {transform:scale(1.75,1.75)}
  40% {transform:scale(1.25,1.25)}
  60% {transform:scale(1.25,1.25)}
  70%   {transform:scale(1.25,1.25) rotate(-180deg)}
  85% {transform:scale(1.25,1.25) rotate(-180deg)}
  85.05%  {transform:scale(1.25,1.25) rotate(0deg)}
  96%  {transform:scale(1.25,1.25) rotate(0deg) translate(90px,-40px)  rotate(10deg);opacity:1}
  100%  {transform:scale(1.25,1.25) rotate(0deg) translate(90px,-40px)  rotate(10deg);opacity:0}
}

/**** **** **** **** **** ****
  trailingdotsleft
**** **** **** **** **** ****/

@keyframes trailingdotsleft {
  0%  {opacity:0;transform:translate(0em)}
  5%  {opacity:.3}
  20.5% {opacity:0;transform: translate(-11em)}
  38% {opacity:.3;}
  40% {opacity:0;transform: translate(-4.5em)}
  50% {opacity:0;transform: translate(-4.5em)}
  52% {opacity:0;transform: translate(-4.5em)}
  64% {opacity:.3;transform: translate(-4.2em)}
  66% {opacity:0}
  80% {opacity:0;transform: translate(0em)}
  80.1% {opacity:.3;transform: translate(0em) rotate(90deg)}
  100%  {transform: rotate(90deg) translate(-40px,-140px)  rotate(10deg)}
}

/**** **** **** **** **** ****
  trailingdotsright
**** **** **** **** **** ****/

@keyframes trailingdotsright {
  0%  {opacity:0;transform:translate(0em)}
  5%  {opacity:.3}
  20.5% {opacity:0;transform: translate(11em)}
  38% {opacity:.3;}
  40% {opacity:0;transform: translate(4.5em)}
  50% {opacity:0;transform: translate(4.5em)}
  52% {opacity:0;transform: translate(4.5em)}
  64% {opacity:.3;transform: translate(4.2em)}
  66% {opacity:0}
  80% {opacity:0;transform: translate(4.2em)}
  100%  {opacity:0}
}

/**** **** **** **** **** ****
  fingerdiv
**** **** **** **** **** ****/

@keyframes fingerdiv {
  0%  {transform: rotate(0);}
  60% {transform: rotate(0);}
  70%   {transform: rotate(90deg)}
  80%   {transform: rotate(90deg)}
  80.1% {transform: rotate(0deg)}
  100%  {transform: rotate(0deg)}
}

/**** **** **** **** **** ****
  fingerleft
**** **** **** **** **** ****/

@keyframes fingerleft {
  0%  {opacity:1;transform:translate(-4em)}
  3%  {opacity:1;transform: translate(-4em)}
  20% {opacity:1;transform: translate(-9.5em)}
  40% {opacity:1;transform: translate(-5em)}
  77% {opacity:1;}
  80% {opacity:0;transform: translate(-5em)}
  82% {opacity:0;transform: translate(0em) rotate(90deg)}
  84% {opacity:1;}
  96% {opacity:1;}
  100%  {opacity:0;transform: rotate(90deg) translate(-45px,-140px)  rotate(10deg)}
}

/**** **** **** **** **** ****
  fingerright
**** **** **** **** **** ****/

@keyframes fingerright {
  0%  {opacity:1;transform:translate(4em)}
  3%  {opacity:1;transform: translate(4em)}
  20% {opacity:1;transform: translate(9.5em)}
  40% {opacity:1;transform: translate(5em)}
  77% {opacity:1}
  80% {opacity:0}
  100%  {opacity:0;transform: translate(5em)}
}

/**** **** **** **** **** ****
  labelsprite
**** **** **** **** **** ****/

@keyframes labelsprite {
  0%  {top:0}
  20% {top:-1.3em}
  60% {top:-2.6em}
  80% {top:-3.9em}
  100%  {top:-3.9em}
}

/**** **** **** **** **** ****
  labelfade
**** **** **** **** **** ****/

@keyframes labelfade {
  0%  {opacity:0}
  6%  {opacity:1}
  80% {opacity:1}
  100%  {opacity:0}
}