/***********************************
** Base Styles
************************************/

//Colors
$background: #ececec;
$workspace: #333333;
$help-bg: #0096d6;
$help-color: #ffffff;
$main-color: #000000;
$accent: #fcfbb8;
$off-white: #e5e8e8;
$warning: #b9b8bb;
$analyze: #87898b;
//Fonts
$HPSimplified: 'HPSimplified', Arial, Helvetica, sans-serif;
$HPSimplifiedLight:  'HPSimplifiedLight', Arial, Helvetica, sans-serif;
$HPSimplifiedLightIt:  'HPSimplifiedLightIt', Arial, Helvetica, sans-serif;

//General Styles
h1, h2, h3, h4, h5, h6 {
    color: $main-color;
    font-family: $HPSimplified;
    font-weight: normal;
}

p {
    font-size: 13px;
    letter-spacing: .05em;
    line-height: 17px;
    margin: 15px 0;
}

a {
    text-decoration: none;
    &:active {
        opacity: .8;
    }
}

//Page Styles

body {
    background: $background;
    font-family: $HPSimplified;
    color: $main-color;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

body * {
    @include box-sizing(border-box);
}

.wrapper {
    @include clearfix;
    margin: 0 auto;
    @include position(relative, 0px 0px 0px 0px);
}
.container {
    @include clearfix;
}

.left {
    float: left;
}

.right {
    float: right;
}