/***********************************
** HP Simplified @Font-Face Styles
************************************/

@font-face {
    font-family: 'HPSimplified';
    src: url(http://www.www8-hp.com/us/en/images/fonts/v2-0/hps-euro-w01-regular-eot.eot);
    src: url(http://www.www8-hp.com/us/en/images/fonts/v2-0/hps-euro-w01-regular-eot.eot?#iefix) format('embedded-opentype'),
    url('http://www.www8-hp.com/us/en/images/fonts/v2-0/hps-euro-w01-regular-woff.woff') format('woff'),
    url('http://www.www8-hp.com/us/en/images/fonts/v2-0/hps-euro-w01-regular-ttf.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'HPSimplified';
    src: url(http://www.www8-hp.com/us/en/images/fonts/v2-0/hps-euro-w01-bold-eot.eot);
    src: url(http://www.www8-hp.com/us/en/images/fonts/v2-0/hps-euro-w01-bold-eot.eot?#iefix) format('embedded-opentype'),
    url('http://www.www8-hp.com/us/en/images/fonts/v2-0/hps-euro-w01-bold-woff.woff') format('woff'),
    url('http://www.www8-hp.com/us/en/images/fonts/v2-0/hps-euro-w01-bold-ttf.ttf') format('truetype');
    font-weight: bold;
    font-style: normal
}
@font-face {
    font-family: 'HPSimplifiedLight';
    src: url(http://www.www8-hp.com/us/en/images/fonts/v2-0/hps-euro-w01-light-eot.eot);
    src: url(http://www.www8-hp.com/us/en/images/fonts/v2-0/hps-euro-w01-light-eot.eot?#iefix) format('embedded-opentype'),
    url('http://www.www8-hp.com/us/en/images/fonts/v2-0/hps-euro-w01-light-woff.woff') format('woff'),
    url('http://www.www8-hp.com/us/en/images/fonts/v2-0/hps-euro-w01-light-ttf.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'HPSimplifiedLightIt';
    src: url(http://www.www8-hp.com/us/en/images/fonts/v2-0/hps-euro-w01-light-italic-eot.eot);
    src: url(http://www.www8-hp.com/us/en/images/fonts/v2-0/hps-euro-w01-light-italic-eot.eot?#iefix) format('embedded-opentype'),
    url('http://www.www8-hp.com/us/en/images/fonts/v2-0/hps-euro-w01-light-italic-woff.woff') format('woff'),
    url('http://www.www8-hp.com/us/en/images/fonts/v2-0/hps-euro-w01-light-italic-ttf.ttf') format('truetype');
    font-weight: normal;
    font-style: italic
}