/**********************************************************
** Top > Postcard Demo > Gallery Halves Styles
***********************************************************/

.wrapper.top.gallery-halves {
	@include size(1920px 1080px);
	background: url(../images/UI_Assets/Monitor_Bkg.png) no-repeat 0 0;
	.gallery-bar {
		@include size(auto 74px);
		background: url(../images/UI_Assets/Top_Bar.png) no-repeat 0 0;
		h1 {
			color: $off-white;
			font-size: 33px;
			line-height: 74px;
			margin: 0;
			text-align: center;
		}
	}
	.container {
		@include size(1852px auto);
		margin: 0 auto;
	}
	.main-content {
		margin: 32px auto 0  auto;
		.projects.half, .images.half {
			@include size(890px auto);
			float: left;
			h2 {
				color: #ffffff;
				font-family: $HPSimplifiedLight;
				font-size: 30px;
				line-height: 1em;
				margin: 30px 0;
				text-align: center;
			}
			.column-wrap {
				@include size(890px 831px);
				background: url(../images/UI_Assets/Column_half.png) no-repeat 0 0;
				padding-top: 146px;
				&.template-selected {
					.item {
						opacity: .6;
						pointer-events: none;
						&.selected {
							opacity: 1;
							pointer-events: auto;
							position: relative;
							z-index: 1;
							&:after {
								@include size(354px 248px);
								@include position(absolute, -27px 0 0 -27px);
								background: url(../images/UI_Assets/selected-corner-arrow.png) no-repeat 0 0;
								content: '';
								display: block;
								z-index: -1;
							}
						}
					}
				}
			}
		}
		/* Project/Templates Half */
		.template-options {
			@include size(754px auto);
			margin: 0 auto;
		}
		.template-options.row {
			@include clearfix;
			&:last-of-type {
				margin-top: 45px;
			}
		}
		.template-options {
			.item {
				@include size(354px 248px);
				figure {
					margin: 0;
				}
				a, img {
					display: block;
				}
			}
		}
		/* Images Half */
		.images.half {
			float: right;
			.column-wrap {
				padding-top: 27px;
			}
		}
		.image-options {
			@include size(780px auto);
			margin: 0 auto;
			ul {
				line-height: 1em;
				list-style: none;
				margin: 0;
				padding: 0;
				.item {
					@include size(241px);
					display: inline-block;
					margin-right: 25px;
					&:last-of-type {
						margin-right: 0;
					}
					figure {
						margin: 0;
					}
					a, img {
						display: block;
					}
				}
			}
		}
		.image-options.row {
			@include clearfix;
			margin-top: 25px;
			&:first-of-type {
				margin-top: 0;
			}
		}
	}
}
