/***********************************
** Top > Start Screen Styles
************************************/

.wrapper.top.start {
	background: transparent url(../images/top/start-bg.png) no-repeat top center;
	.container {
		@include size(1400px auto);
		margin: 0 auto;
	}
	.main-content {
		@include size(730px 480px);
		background: $help-bg;
		margin: 299px auto 0 auto;
		opacity: .95;
		.logo {
			@include hide-text;
			@include size(519px 101px);
			background: transparent url(../images/UI_Assets/sprout-logo.png) no-repeat top center;
			margin: 121px auto 0 auto;
		}
		.begin {
			@include size(244px 67px);
			margin: 74px auto 0 auto;
			.touch-nav {
				@include clearfix;
				@include size(auto);
				margin: 15px auto 0 auto;
				padding: 0;
				ul {
					line-height: 1em;
					list-style: none;
					margin: 0;
					padding: 0;
					li {
						display: inline-block;
						margin-right: 25px;
						&:last-of-type {
							float: right;
							margin-right: 0;
						}
						a {
							color: $help-color;
							font-size: 13px;
							letter-spacing: 0;
							line-height: 16px;
							text-align: center;
							&.icon {
								display: block;
								padding-top: 45px;
							}
							&.demo {
								background: transparent url(../images/UI_Assets/demo-icon.png) no-repeat center 0;
							}
							&.video {
								background: transparent url(../images/UI_Assets/video-icon.png) no-repeat center 0;
							}
							&.hp {
								background: transparent url(../images/UI_Assets/hp-logo.png) no-repeat center 0;
							}
						}
					}
				}
			}
		}
	}
}