/**********************************************************
** Top > Postcard Demo > Finish Styles
***********************************************************/

.wrapper.top.finish {
	background: transparent url(../images/top/finish-bg.png) no-repeat top center;
	.container {
		@include size(670px auto);
		margin: 0 auto;
	}
	.main-content {
		.postcard {
			margin: 306px auto 0 auto;
	    a {
	      &:active {
	        opacity: 1;
	      }
	    }
	  }
	}
}