/***********************************
** Top > Photo Styles
************************************/

.wrapper.top.photo {
	background: $help-color;
	.container {
		@include size(1920px auto);
		margin: 0 auto;
	}
	.main-content {
		.frames {
			@include size(304px auto);
			float: left;
			margin: 254px 0 0 0;
			h2 {
				color: $help-bg;
				font-size: 33px;
				line-height: 21px;
				margin: 0 0 40px 0;
				text-align: center;
			}
			a {
				display: block;
				margin: 0 auto 52px auto;

				&.rectangle {
					@include size(204px 115px);
					background: transparent url(../images/UI_Assets/rectangle.png) no-repeat top center;
					&.active {
						background: transparent url(../images/UI_Assets/rectangle-active.png) no-repeat top center;
					}
				}
				&.square {
					@include size(115px);
					background: transparent url(../images/UI_Assets/square.png) no-repeat top center;
					&.active {
						background: transparent url(../images/UI_Assets/square-active.png) no-repeat top center;
					}
				}
				&.circle {
					@include size(115px);
					background: transparent url(../images/UI_Assets/circle.png) no-repeat top center;
					&.active {
						background: transparent url(../images/UI_Assets/circle-active.png) no-repeat top center;
					}
				}
			}
			&.hidden {
				visibility: hidden;
			}
		}
		.camera-frame {
			@include size(1312px 738px);
			@include position(relative, 0 0 0 0);
			background: transparent url(../images/top/photo-fpo.png) no-repeat 0 0;
			float: left;
			margin: 171px 0 0 0;
			.frame {
				@include position(absolute, 6px 0 0 301px);
				&.rectangle {
					@include size(1281px 724px);
					background: transparent url(../images/UI_Assets/rectangle-lg.png) no-repeat top center;
					left: 18px;
				}
				&.square {
					@include size(723px 724px);
					background: transparent url(../images/UI_Assets/square-lg.png) no-repeat top center;
				}
				&.circle {
					@include size(723px 724px);
					background: transparent url(../images/UI_Assets/circle-lg.png) no-repeat top center;
				}
			}
			.camera {
				@include size(250px auto);
				margin: 245px auto 0 auto;
				opacity: .75;
			}
			.timer {
				@include size(220px auto);
				margin: 259px auto 0 auto;
			}
		}
	}
	.contextual-help {
		&.center {
			top: 301px;
		}
	}
}