/***********************************************************
** Top > Adjust Styles
***********************************************************/
.wrapper.top.adjust {
	.main-content {
		.projects.half, .images.half {
	    .item {
	      a {
	        opacity: .6;
	      }
	    }
	  }
	}
}

