/**********************************************************
** Top > Postcard Demo > Select Template/Gallery Full Styles
***********************************************************/

.wrapper.top.gallery-full {
	@include size(1920px 1080px);
	background: url(../images/UI_Assets/Monitor_Bkg.png) no-repeat 0 0;
	.gallery-bar {
		@include size(auto 74px);
		background: url(../images/UI_Assets/Top_Bar.png) no-repeat 0 0;
		h1 {
			color: $off-white;
			font-size: 33px;
			line-height: 74px;
			margin: 0;
			text-align: center;
		}
	}
	.container {
		@include size(1852px auto);
		margin: 0 auto;
	}
	.main-content {
		margin: 32px auto 0  auto;
		.projects.full {
			h2 {
				color: #ffffff;
				font-family: $HPSimplifiedLight;
				font-size: 30px;
				line-height: 1em;
				margin: 30px 0;
				text-align: center;
			}
			.column-wrap {
				@include size(auto 831px);
				background: url(../images/UI_Assets/Column_full.png) repeat-x 0 0;
				padding-top: 95px;
				&.template-selected {
					.item {
						opacity: .6;
						pointer-events: none;
						&.selected {
							opacity: 1;
							pointer-events: auto;
							position: relative;
							z-index: 1;
							&:after {
								@include size(486px 356px);
								@include position(absolute, -27px 0 0 -27px);
								background: url(../images/UI_Assets/selected-corner-arrow.png) no-repeat 0 0;
								content: '';
								display: block;
								z-index: -1;
							}
						}
					}
				}
			}
		}
		.template-options {
			@include size(920px auto);
			margin: 0 auto;
		}
		.template-options.row{
			@include clearfix;
			&:last-of-type {
				margin-top: 55px;
			}
		}
		.item {
			@include size(432px 302px);
			figure {
				margin: 0;
			}
			a, img {
				display: block;
			}
		}
	}
}
