/***********************************************************
** Top > Gesture Animation Styles
***********************************************************/
.wrapper.top {
	.contextual-help {
		.t-box{background:#cdd62a;height:5em;width:5em;position:absolute;top:0;left:0;z-index:1}
		.t-dot{
			background:url("../images/UI_Assets/t-dot.svg") 0 0 no-repeat;
			width:5em;
			height:5em;
			background-size:99% 99%;
			position:absolute;
			top:0;
			left:0;
			opacity:0;
			z-index:3;
			content:" ";
			font-size:1em;
		}
		.t-dot-1{background:#fff;width:3em;height:3em;border-radius:1.5em;position:absolute;top:1em;left:1em;opacity:0;z-index:2}
		.t-dot-2{background:#fff;width:2.5em;height:2.5em;border-radius:1.25em;position:absolute;top:1.25em;left:1.25em;opacity:0;z-index:2}
		.t-dot-3{background:#fff;width:2em;height:2em;border-radius:1em;position:absolute;top:1.5em;left:1.5em;opacity:0;z-index:2}
		/* swipe down */
		.t-down{
			position:absolute;
			left:260px; 	/* position left */
			top:60px;		/* position top */
			font-size:16px; /* change fonts size to scale animation up and down in size */
			width:5.625em;
			height:18.750em;
		}
		.t-down-go .t-box{
			transition: top 1200ms;
			top:24em;
		}
		.t-down-go .t-dot{
			@include animation(fingerdown 2500ms 1 forwards);
		}
		.t-down-go .t-dot-1{
			@include animation(dotsdown 1600ms 0ms 1 forwards);
		}
		.t-down-go .t-dot-2{
			@include animation(dotsdown 1800ms 250ms 1 forwards);
		}
		.t-down-go .t-dot-3{
			@include animation(dotsdown 2000ms 300ms 1 forwards);
		}
		/* image adjustment */
		.t-iadj{width:100%;height:5em;position:absolute;bottom:6em;left:0;font-size:11px /* change fonts size to scale animation up and down in size */ }
		.t-iadj .t-box{width:7em;height:7em;left:50%;margin-left:-3.5em;top:50%;margin-top:-3.5em;content:" ";opacity:1;}
		.t-iadj .t-dot{margin-left:-2.5em;font-size:.9em;top:0;left:50%;}
		.t-iadj .t-dot-1{background:#fff;width:3em;height:3em;border-radius:1.5em;position:absolute;top:50%;left:50%;opacity:0;z-index:2;margin:-1.5em 0 0 -1.5em}
		.t-iadj .t-dot-2{background:#fff;width:2.5em;height:2.5em;border-radius:1.25em;position:absolute;top:50%;left:50%;opacity:0;z-index:2;margin:-1.25em 0 0 -1.25em}
		.t-iadj .t-dot-3{background:#fff;width:2em;height:2em;border-radius:1em;position:absolute;top:50%;left:50%;opacity:0;z-index:2;margin:-1em 0 0 -1em}
		.fingerdots{width:100%;height:5em;content:" ";position:absolute;z-index:5;bottom:0}
		.t-iadj-go .finger1.t-dot{
			@include animation(fingerleft 6s 0ms 1 forwards);
		}
		.t-iadj-go .finger2.t-dot{
			@include animation(fingerright 6s 0ms 1 forwards);
		}
		.t-iadj-go .fingerdots-0{
			@include animation(fingerdiv 6s 0ms 1 forwards);
		}
		.t-iadj-go .fingerdots-1{
			@include animation(fingerdiv 6s 200ms 1 forwards);
		}
		.t-iadj-go .fingerdots-2{
			@include animation(fingerdiv 6s 350ms 1 forwards);
		}
		.t-iadj-go .fingerdots-3{
			@include animation(fingerdiv 6s 500ms 1 forwards);
		}
		.t-iadj-go .fingerdots-1 .finger1.t-dot-1{
			@include animation(trailingdotsleft 6s 350ms 1 forwards);
		}
		.t-iadj-go .fingerdots-2 .finger1.t-dot-2{
			@include animation(trailingdotsleft 6s 500ms 1 forwards);
		}
		.t-iadj-go .fingerdots-3 .finger1.t-dot-3{
			@include animation(trailingdotsleft 6s 750ms 1 forwards);
		}
		.t-iadj-go .fingerdots-1 .finger2.t-dot-1{
			@include animation(trailingdotsright 6s 350ms 1 forwards);
		}
		.t-iadj-go .fingerdots-2 .finger2.t-dot-2{
			@include animation(trailingdotsright 6s 500ms 1 forwards);
		}
		.t-iadj-go .fingerdots-3 .finger2.t-dot-3{
			@include animation(trailingdotsright 6s 750ms 1 forwards);
		}
		.t-iadj-go .t-box{
			@include animation(boxadjust 6s 0ms 1 forwards);
			opacity: 1;
		}
    /* rotating labels */
    .helplabels{height:2em;font-size:20px;overflow:hidden;position:absolute;top:6.2em;width:100%;left:0;font-size:18px} 
		.helplabels ul{margin:0;padding:0;width:100%;position:relative;top:1.3em;font-size:33px}
		.helplabels ul li{margin:0;padding:0;line-height:1.3em;text-align:center;width:100%;color:#fff}
		.t-iadj-go .helplabels ul{
			@include animation(labelsprite 6s 100ms steps(1) 1 forwards);
		}
		.t-iadj-go .helplabels{
			@include animation(labelfade 7s  1 forwards);
		}
  }
}

