/***********************************
** Top > Scan Screen Styles
************************************/

.wrapper.top.scan {
	background: $help-color;
	.container {
		@include size(1400px auto);
		margin: 0 auto;
	}
	.main-content {
		.camera {
			@include size(250px auto);
			margin: 416px auto 0 auto;
		}
		.timer {
			@include size(220px auto);
			margin: 430px auto 0 auto;
		}
		.warning, .analyzing {
			h1 {
				color: $warning;
				font-family: $HPSimplifiedLight;
				font-size: 36px;
				line-height: 21px;
				margin: 185px auto;
				text-align: center;
			}
		}
		.analyzing {
			h1 {
				color: $analyze;
				font-family: $HPSimplified;
				margin-top: 526px;
			}
		}
	}
	.contextual-help {
		&.center {
			top: 301px;
		}
	}
}