/***********************************
** Top > Timeout Screen Styles
************************************/

.top {
	.timeout {
		@include size(568px 342px);
		@include position(absolute, 373px 0 0 0);
		background: rgba($help-color, .95);
		display: none;
		margin: 0 auto;
		padding: 40px 20px;
		&.visible {
	    display: block;
	    z-index: 10;
	    left: 720px;
	    @include animation(fadeInCenter 500ms both ease-in-out);
	  }
	  h3 {
      @include size(100% auto);
      color: $help-bg;
      display: none;
      font-family: $HPSimplifiedLight;
      font-size: 56px;
      line-height: 60px;
      margin: 0;
      padding: 0;
      text-align: center;
      &.visible {
      	display: block;
      }
      &.single {
      	margin: 75px 0;
      }
      &.double {
      	margin: 40px 0 45px;
      }
  	}
  	a {
  		&.btn {
				@include size(180px 50px);
				background: $help-bg;
				color: $help-color;
				display: block;
				font-family: $HPSimplifiedLight;
				font-size: 26px;
				-webkit-font-smoothing: subpixel-antialiased;
				line-height: 50px;
				text-align: center;
				&.left {
					margin-left: 72px;
				}
				&.right {
					margin-right: 72px; 
				}
				&:active {
					background: #4167b1;
					opacity: 1;
				}
			}
  	}
	}
}