/***********************************
** Top > poster Screen Styles
************************************/

.wrapper.top.gallery-full.poster {
	.main-content {
		margin: 32px auto 0  auto;
		.projects.full {
			.column-wrap {
				@include size(auto 831px);
				background: url(../images/UI_Assets/Column_full.png) repeat-x 0 0;
				padding-top: 194px;
				&.template-selected {
					.item {
						&.selected {
							&:after {
								@include size(486px);
								@include position(absolute, -20px 0 0 -20px);
								background: url(../images/UI_Assets/selected-corner-arrow-poster.png) no-repeat 0 0;
								content: '';
								display: block;
								z-index: 1;
							}
						}
					}
				}
			}
		}
		.images.full {
			h2 {
				color: #ffffff;
				font-family: $HPSimplifiedLight;
				font-size: 30px;
				line-height: 1em;
				margin: 30px 0;
				text-align: center;
			}
			.column-wrap {
				@include size(auto 831px);
				background: url(../images/UI_Assets/Column_full.png) repeat-x 0 0;
				padding-top: 36px;
			}
			.image-options {
				@include size(1828px auto);
				margin: 0 auto;
				ul {
					line-height: 1em;
					list-style: none;
					margin: 0;
					padding: 0;
					.item {
						@include size(241px);
						display: inline-block;
						margin-right: 20px;
						&:last-of-type {
							margin-right: 0;
						}
						figure {
							margin: 0;
						}
						a, img {
							display: block;
						}
					}
				}
			}
			.image-options.row {
				@include clearfix;
				margin-top: 25px;
				&:first-of-type {
					margin-top: 0;
				}
			}
		}
		.template-options {
			@include size(926px auto);
			margin: 0 auto;
		}
		.template-options.row {
			@include clearfix;
			&:last-of-type {
				margin-top: 0;
			}
		}
		.item {
			@include size(auto);
			a {
        opacity: 1;
      }
		}
		.inactive {
	  	.item {
	  		a {
	  			opacity: .6;
	  		}
	  	}
	  }
	}
	&.decorate {
		.contextual-help.less-padding {
			padding: 35px;
		}
	}
}