/***********************************
** Top > General Top Screen Styles
************************************/

.wrapper.top {
    @include size(1920px auto);
    min-height: 1080px;
    overflow: hidden;
    .contextual-help {
        @include size(480px);
        @include position(absolute, 372px 0 0 0);
        background: rgba($help-bg, .95);
        display: none;
        margin: 0 auto;
        overflow: hidden;
        padding: 40px;
        &.visible {
            display: block;
            z-index: 10;
        }
        &.fadeInLeft {
            @include animation(fadeInLeft 500ms both ease-in-out);
            left: 0;
        }
        &.center {
            @include animation(fadeInCenter 500ms both ease-in-out);
            left: 720px;
        }
        &.fadeInRight {
            @include animation(fadeInRight 500ms both ease-in-out);
            right: 0;
            top: 302px;
        }
        &.error {
            height: auto;
            padding: 20px;
            .error-message {
                h3 {
                    text-align: center;
                }
            }
        }
        aside {
            @include size(100%);
            @include position(relative, 0px 0px 0px 0px);
        }
        div {
            // display: none;
            &.visible {
                display: block;
            }
            //Specific help style over-rides
            &.help-01 {
                padding-right: 177px;
            }
            &.help-02 {
                padding-right: 25px;
            }
            .accept, .cancel {
                @include size(33px);
                display: inline-block;
                vertical-align: middle;
            }
            .accept {
                background: url(../images/UI_Assets/HS_Checkmark_white.png) no-repeat 0 3px;
            }
            .cancel {
                background: url(../images/UI_Assets/HS_Cancel_white.png) no-repeat 0 0;
            }
        }
        h3, p {
            @include size(100% auto);
            color: $help-color;
            font-family: $HPSimplifiedLight;
            margin: 0;
            padding: 0;
            text-align: left;
        }
        h3 {
            font-size: 56px;
            line-height: 56px;
        }
        p {
            font-size: 28px;
            letter-spacing: -.3px;
            line-height: 32px;
            margin-top: 20px;
        }
    }
}