/***********************************
** Top > Selection Screen Styles
************************************/

.wrapper.top.demo-selection {
	.main-content {
		margin: 32px auto 0  auto;
		.projects.full {
			h2 {
				color: $help-color;
				font-family: $HPSimplifiedLight;
				font-size: 30px;
				line-height: 1em;
				margin: 30px 0;
				text-align: center;
			}
			.column-wrap {
				@include size(auto 831px);
				background: url(../images/UI_Assets/Column_full.png) repeat-x 0 0;
				padding-top: 271px;
				&.template-selected {
					.item {
						opacity: .6;
						pointer-events: none;
						&.selected {
							opacity: 1;
							pointer-events: auto;
							position: relative;
							z-index: 1;
							&:after {
								@include size(486px 356px);
								@include position(absolute, -27px 0 0 -27px);
								background: url(../images/UI_Assets/selected-corner-arrow.png) no-repeat 0 0;
								content: '';
								display: block;
								z-index: -1;
							}
						}
					}
				}
			}
		}
		.demo-options {
			@include size(auto);
			margin: 0 0 0 469px;
		}
		.demo-options.row {
			@include clearfix;
		}
		.item {
			@include size(auto);
			margin-right: 30px;
			figcaption {
				color: $help-color;
				font-family: $HPSimplifiedLight;
				font-size: 30px;
				line-height: 21px;
				margin: 35px 0;
				text-align: center;
			}
		}
	}
}