/***********************************
** Top > Decorate Styles
************************************/

.wrapper.top.decorate {
	.main-content {
	  .inactive {
	  	.item {
	  		a {
	  			opacity: .6;
	  		}
	  	}
	  }
	}
}