/***********************************
** Touchmat > Photo Styles
************************************/

.wrapper.touchmat.photo {
	.main-content {
		.captured-image {
			@include position(absolute, 215px 0 0 351px);
	    background: transparent url(../images/touchmat/image-border-fpo.png) no-repeat 0 0;
	    padding: 5px;
	    z-index: 3;
	    a {
	      &:active {
	        opacity: 1;
	      }
	    }
	    &.transformed {
	      @include transform(rotate(20deg) scale(.7));
	    }
	    &.moved {
	      @include position(absolute, 300px 0 0 535px);
	    }
	    &.confirmed {
	      background:transparent;
	    }
		}
	}
}