/***********************************
** Touchmat > General Touchmat Styles
************************************/

.wrapper.touchmat {
	@include size(1024px auto);
	min-height: 768px;
	.container {
		@include size(auto);
		margin: 0 auto;
	}
}
