/***********************************
** Touchmat > poster Styles
************************************/

.wrapper.touchmat.poster {
	.main-content {
		@include size(546px auto);
		margin-top: 34px;
	}
}