/***********************************
** Touchmat > Draw Styles
************************************/

.wrapper.touchmat.draw {
	.main-content {
		.doodle {
			@include position(absolute, 215px 0 0 407px);
		}
	}
	.color-pallet {
		@include position(absolute, 300px 0 0 20px);
		.column {
			float: left;
			line-height: 1em;
			list-style: none;
			margin: 0 4px 0 0;
			padding: 0;
			&:nth-of-type(2) {
				margin-top: -19px;
			}
		}
		.color {
			@include size(28px);
			border: 2px solid #717171;
			border-radius: 14px;
			box-shadow:inset 0px 0px 0px 1px #333333;
			display: block;
			margin: 7px 0;
			padding: 0;
			&.selected {
				border: 2px solid $help-color;
			}
			// First Column
			&.gold {
				background: #d8b202;
			}
			&.turquoise {
				background: #2bbec3;
			}
			&.blue {
				background: #4850bf;
			}
			&.fushcia {
				background: #9e005d;
			}
			&.black {
				background: #000000;
			}
			// Second Column
			&.orange {
				background: #db6711;
			}
			&.yellow {
				background: #dddf11;
			}
			&.teal {
				background: #09aa7b;
			}
			&.violet {
				background: #a832fa;
			}
			&.red {
				background: #e50e3c;
			}
			&.grey {
				background: #777777;
			}
			// Third Column
			&.brown {
				background: #682a14;
			}
			&.green1 {
				background: #84bf14;
			}
			&.green2 {
				background: #008600;
			}
			&.magenta {
				background: #d036a3;
			}
			&.white {
				background: #ffffff;
			}
		}
	}
}