/***********************************
** Toucmat > Scan Styles
************************************/

.wrapper.touchmat.scan {
	background: $help-color;
	.header {
		display: none;
	}
	.main-content {
		margin: 0 auto;
		.scanned-item {
			@include size(300px);
			margin: 239px auto 0 auto;
			img {
				display: block;
				margin: 0 auto;
			}
			a {
				&:active {
					opacity: 1;
				}
			}
		}
	}
	.step-nav {
		&.hidden {
			display: none;
		}
	}
	.draw-brush {
		display: none;
	}
	.contextual-help {
		@include size(100% auto);
	}
}