/***********************************
** Touchmat > General Workspace/Layout Styles
************************************/

.wrapper.touchmat.workspace {
	background: $workspace;
	.main-content {
		@include size(670px auto);
		margin-top: 74px;
	}
	figure {
		margin: 0;
		a, img {
			display: block;
		}
		a {
			&:active {
				opacity: 1;
			}
		}
	}
	figcaption {
		font-family: $HPSimplifiedLight;
		font-size: 20px;
		line-height: 20px;
		margin-top: 10px;
		text-align: center;
	}
	.draw-brush {
		@include position(absolute, 207px 0 0 20px);
		a {
			color: $help-color;
			display: block;
			font-size: 13px;
			letter-spacing: 0;
			line-height: 16px;
			padding-top: 38px;
			text-align: center;
			&.brush {
				background: transparent url(../images/UI_Assets/brush-icon.png) no-repeat center 0;
				opacity: .6;
				&.highlight {
					background: transparent url(../images/UI_Assets/brush-icon-blue.png) no-repeat center 0;
					opacity: 1;
				}
				&.active {
					background: transparent url(../images/UI_Assets/brush-icon-active.png) no-repeat center 0;
					opacity: 1;
				}
				&:active {
					background: transparent url(../images/UI_Assets/brush-icon.png) no-repeat center 0;
					opacity: 1;
				}
			}
		}
	}
}