/***********************************************************
** Touchmat > Navigation Styles
***********************************************************/

.wrapper.touchmat {
	.header {
		@include clearfix;
		.touch-nav {
			@include clearfix;
			@include size(auto);
			margin: 15px auto 0 auto;
			padding: 0 20px;
			ul {
				line-height: 1em;
				list-style: none;
				margin: 0;
				padding: 0;
				li {
					display: inline-block;
					margin-right: 25px;
					&:last-of-type {
						margin-right: 0;
					}
					a {
						color: $help-color;
						font-size: 13px;
						letter-spacing: 0;
						line-height: 16px;
						text-align: center;
						&.icon {
							display: block;
							padding-top: 45px;
						}
						&.camera {
							background: transparent url(../images/UI_Assets/camera-white.png) no-repeat center 0;
							opacity: .6;
							&.highlight {
								background: transparent url(../images/UI_Assets/camera-blue.png) no-repeat center 0;
								opacity: 1;
							}
							&:active {
								background: transparent url(../images/UI_Assets/camera-white.png) no-repeat center 0;
								opacity: 1;
							}
						}
						&.demo {
							background: transparent url(../images/UI_Assets/demo-icon.png) no-repeat center 0;
						}
						&.video {
							background: transparent url(../images/UI_Assets/video-icon.png) no-repeat center 0;
						}
						&.hp {
							background: transparent url(../images/UI_Assets/hp-logo.png) no-repeat center 0;
						}
						&.demo, &.video, &.hp {
							&:active {
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
	.step-nav {
		@include position(absolute, 673px 0 0 0);
		clear: both;
		width: 100%;
		ul {
			@include size(670px auto);
			display: none;
			list-style: none;
			margin: 0 auto;
			padding: 0;
			&.visible {
				display: block;
				&.confirm {
					text-align: center;
				}
				&.navigate {
					text-align: right;
					.btn {
						@include size(180px 50px);
          	background: $help-bg;
          	font-family: $HPSimplifiedLight;
						font-size: 26px;
						-webkit-font-smoothing: subpixel-antialiased;
						line-height: 50px;
          	text-align: center;
          	text-transform: lowercase;
          }
				}
			}
			li {
				display: inline-block;
				a {
					@include size(33px);
					color: $help-color;
					display: block;
					&.accept {
						@include hide-text;
            background: transparent url(../images/UI_Assets/HS_Checkmark.png) no-repeat 0 3px;
            margin-right: 29px;
          }
          &.cancel {
          	@include hide-text;
            background: transparent url(../images/UI_Assets/HS_Cancel.png) no-repeat 0 0;
          }
          &.next, &.finished {
						display: none;
						&.visible {
							display: block;
						}
					}					
				}
			}
		}
	}
}