/***********************************
** Touchmat > Decorate Styles
************************************/

.wrapper.touchmat.decorate {
	.decorative-image {
		@include position(absolute, 249px 0 0 351px);
    background: transparent url(../images/touchmat/apple-border-fpo.png) no-repeat 0 0;
    padding: 8px 15px;
    z-index: 3;
    a {
      &:active {
        opacity: 1;
      }
    }
    &.transformed {
      @include transform(rotate(10deg) scale(.45));
    }
    &.moved {
      @include position(absolute, 408px 0 0 630px);
    }
    &.confirmed {
      background:transparent;
    }
		img {
			@include size(248px auto);
		}
	}
}