/***********************************************************
** Touchmat > Adjust Styles
***********************************************************/

.wrapper.touchmat.adjust {
  .scanned-item {
    @include position(absolute, 235px 0 0 437px);
    background: transparent url(../images/touchmat/keys-border.png) no-repeat 0 0;
    padding: 7px 9px;
    z-index: 3;
    a {
      &:active {
        opacity: 1;
      }
    }
    &.transformed {
      @include transform(rotate(-40deg) scale(.75));
    }
    &.moved {
      @include position(absolute, 90px 0 0 190px);
    }
    &.confirmed {
      background:transparent;
    }
  }
}