/***********************************************************
** Touchmat > Sprout Demo > Finish Styles
***********************************************************/

.wrapper.touchmat.finish {
	.header {
		.touch-nav {
			ul {
				li {
					a {
						opacity: .6;
						&:active {
							opacity: .6;
						}
					}
				}
			}
		}
	}
	.main-content {
		@include size(904px auto);
		margin: 66px auto 0 auto;
	}
	.share {
		@include size(627px 401px);
		@include clearfix;
		background: $help-color;
		font-family: $HPSimplifiedLight;
		margin: 0 auto;
		h1 {
			color: $help-bg;
			font-family: $HPSimplifiedLight;
			font-size: 56px;
			line-height: 60px;
			margin: 40px 0 20px 0;
			text-align: center;
		}
		form {
			@include size(464px auto);
			-webkit-font-smoothing: subpixel-antialiased;
			margin: 0 auto;
		}
		input {
			background: $off-white;
			border: none;
			color: $help-bg;
			font-size: 24px;
			line-height: 22px;
			margin: 10px auto;
			padding: 7px 10px;
			&::-webkit-input-placeholder { 
				color: $help-color;
			}
			&:active, &:focus {
				outline: none;
			}
		}
		input[type='text'] {
			@include size(230px auto);
		}
		input[type='email'] {
			@include size(100% auto);
			margin-top: 0;
		}
		input[type='submit'] {
			border: none;
			padding: 0;
		}
		.opt-in {
			input[type='checkbox'] {
				@include size(15px);
				@include appearance(none);
				border: none;
				margin: 0;
				padding: 0;
				&:checked {
					background: $help-bg;
				}
			}
			label {
				color: $analyze;
				display: inline-block;
				font-size: 13.33px;
				line-height: 20px;
				margin: 0 0 0 5px;
				vertical-align: top;
			}
		}
		.legal {
			p {
				color: $analyze;
				font-size: 10px;
				line-height: 14px;
				margin: 0 0 0 24px;
			}
		}
		.controls {
			@include size(386px auto);
			margin: 26px auto;
			.btn {
				@include size(180px 50px);
				color: $help-color;
				display: block;
				font-size: 26px;
				line-height: 50px;
				margin: 0;
				text-align: center;
			}
			.exit {
				background: #d8320f;
				float: left;
				margin-right: 15px;
				opacity: .8;
				&:active {
					opacity: 1;
				}
			}
			.send {
				background: $help-bg;
				float: right;
				opacity: .8;
				&:active {
					opacity: 1;
				}
			}
		}
	}
	.keyboard {
		@include size(627px 210px);
		margin: 15px auto 0 auto;
	}
	&.final-screen {
		background: $help-bg;
		h1 {
			color: $help-color;
			font-family: $HPSimplifiedLight;
			font-size: 69px;
			line-height: 1em;
			margin-top: 283px;
			text-align: center;
		}
	}
}