/***********************************************************
** Touchmat > Help Styles
***********************************************************/

.wrapper.touchmat {
	.contextual-help {
    @include size(670px 469px);
    display: none;
    margin: 0 auto;
    &.visible {
        display: block;
        z-index: 10;
    }
    div {
        display: none;
        &.visible {
          display: block;
        }
        //Specific help style over-rides
        &.help-00 {
        	padding-top: 280px;
        	h3 {
        		font-size: 69px;
        		text-align: center;
        	}
        }
        &.help-01 {
            margin: 0  auto;
            padding-top: 120px;
            width: 530px;
        }
        .accept, .cancel {
          @include size(33px);
          display: inline-block;
          vertical-align: middle;
        }
        .accept {
          background: url(../images/UI_Assets/HS_Checkmark.png) no-repeat 0 3px;
        }
        .cancel {
          background: url(../images/UI_Assets/HS_Cancel.png) no-repeat 0 0;
        }
    }
    h3, p {
        @include size(100% auto);
        color: $help-color;
        font-family: $HPSimplifiedLight;
        margin: 0;
        padding: 0;
        text-align: left;
    }
    h3 {
        font-size: 56px;
        line-height: 56px;
    }
    p {
        font-size: 28px;
        letter-spacing: -.3px;
        line-height: 32px;
        margin-top: 20px;
    }
	}
}