/***********************************************************
** Touchmat > Start Styles
***********************************************************/

.wrapper.touchmat.start {
	.header {
		display: none;
	}
	.container {
		margin: 0 auto;
	}
	.step-nav {
		display: none;
	}
	.draw-brush {
		display: none;
	}
	.contextual-help {
		@include size(100% auto);
	}
}